/* font  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;500&display=swap');



/* base and utility  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;

}


.container {
    width: 1127px;
    margin: 50px 140px;
}

/* banner section */
.main-banner {
    display: flex;
    align-items: center;
    background-color: rgb(22 3 3);
    color: white;
    border-radius: 25px;
}

.banner-left {
    padding: 15px 2px 15px 45px;
}


.banner-heading {
    font-size: 50px;

}

.banner-text {
    font-size: 18px;
    margin-top: -30px;
}

.banner-button {
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
    cursor: pointer;
}

.banner-button:hover {
    padding-right: 25px;
}

.banner-button:hover:after {
    opacity: 3;
    right: 0;
}

.banner-right {
    padding: 25px 35px 0px 4px;
}

.banner-right img {
    width: 451px;
    height: 552px;
}

/* submenu section  */
.blogs {
    display: flex;

}

.side-menu {
    width: 414px;
    height: 250px;
    color: white;
    background-color: rgb(22 3 3);
    border-radius: 10px;
    margin-right: 5px;
}

.side-menu a {
    display: block;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 17px;
}

#active {
    background-color: red;
    color: white;
}

/* blog section  */


.blogs-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 6px;
}

.blog {
    margin: 8px 7px;
}

.blog-title>.blog-content {
    padding: 8px;
    font-weight: 600;
    margin-right: 8px;
}

.blog-button {
    border-radius: 5px;
    padding: 5px 9px;
    font-weight: 600;
}

.time-comment {
    display: flex;

}

.comment {
    padding-left: 9px;
}

/* upcoming match  */
.match-info {
    display: flex;
    flex-wrap: wrap;
    padding: 0 9px;
}

.match {
    display: grid;

    grid-template-columns: repeat(3 1fr);
    padding: 25px 25px;
    padding: 25px 25px;
    border: 2px solid #edf3f3;
    margin: 10px;
    border-radius: 5px;
}

.team-images {
    display: flex;

}

/* footer style  */

.footer-items {
    margin: 0;
    padding: 0;
    background-color: #161616;
}

.footer-heading {
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    color: white;
}

.hr {
    margin: -40px 287px 25px;
    color: #B9B9B9;
}



.quick-links {
    display: flex;
}

.quick-links ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.quick-links a {
    text-decoration: none;
    padding: 15px 10px;
    color: white;
    font-size: 19px;

}

/* social media  */
.social {
    display: flex;
    padding-top: 25px;
}

.social ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;

}

.social-icons {
    padding: 10px 15px;
    font-size: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 35px;
    color: aqua;

}

.copyright {
    background-color: black;
    text-align: center;
    color: gainsboro;
    padding: 10px;
}

/* footer end  */
/* responsive for mobile  */
@media only screen and (max-width: 688px) {
    body {
        margin: 0px;
        padding: 0px
    }

    .container {
        padding: 1px 1px;
        width: 100%;
    }


    .main-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .banner-left {
        text-align: center;
    }

    .banner-right img {
        justify-content: center;
    }

    .blogs {
        display: grid;
        justify-content: center;
    }

    .side-menu {
        align-items: center;
        width: 100%;
    }

    .blogs-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .footer-items {
        width: 0 auto;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 992px) and (min-width:688px) {
    .container {
        width: 100%;
    }

    .main-banner {
        display: flex;
        justify-content: center;

    }

    .banner-left {
        text-align: center;
    }

    .banner-right img {
        justify-content: center;
    }

    .blogs {
        display: grid;
        justify-content: center;
    }

    .side-menu {
        align-items: center;
        width: 100%;
    }

    .blogs-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .banner-left {
        text-align: center;
    }

    .banner-right img {
        justify-content: center;
    }

    .blogs {
        display: grid;
        justify-content: center;
    }

    .side-menu {
        align-items: center;
        width: 100%;
    }


}